<h3 class="contact-article-title"><%= article.title %></h3>
<span class="contact-article-content"><%== article.body %></span>
<% if @mode == 'edit' %>
  | <%= link_to 'Edit', edit_article_url(article.id) %>
| <%= link_to "Delete", article_path(article.id), method: :delete,
  data: { confirm: "You sure?" } %>
<% end %>
