<%# TODO implement ordering for list %>
<ul class="articles">
  <%# TODO change id to location %>
  <li id="article-<%= article.id %>">
    <span class="title"><%= article.title %></span>
    <span class="content"><%= article.body %></span>
  </li>
</ul>
