<% provide(:title, "Edit user") %>
<% provide(:page, 'About') %>
<%# static heading of the page %>
<div class="container">
  <%# maybe have the article title instead of about me %>
  <h1>About Me</h1>
</div>
<%# articles to be shown %>
<div class="container" id="about">
  <%= render @articles %>
</div>
<%# create new article %>
<div class="container">
