<% provide(:title, "About") %>
<%# static heading of the page %>
<div class="container">
  <%# maybe have the article title instead of about me %>
  <h2 id="about-page-header">About Me</h2>
</div>
<%# articles to be shown %>
<div class="container" id="about-articles">
  <%= render @articles %>
</div>
<% if @mode == 'edit' %>
<p>
<%= link_to 'Create text object', new_article_url %>
</p>
<% end %>
