<%# static heading of the page %>
<div class="container">
  <h1>About Me</h1>
</div>
<%# articles to be shown %>
<div class="container" id="about">
  <% render 'shared/article' %>
  <%# maybe have the article title instead of about me %>
</div>
