<% provide(:title, "Contact") %>
<%# static heading of the page %>
<div class="container">
  <%# maybe have the article title instead of contact me %>
  <h1>Contact Me</h1>
</div>
<%# articles to be shown %>
<div class="container" id="about">
  <%= render @articles %>
</div>
