<% provide(:title, "Contact") %>
<%# static heading of the page %>
<div class="container">
  <%# maybe have the article title instead of contact me %>
  <h2 id="contact-page-header">Contact Me</h2>
</div>
<%# articles to be shown %>
<div class="container" id="contact-articles">
  <%= render @articles %>
</div>
<% if @mode == 'edit' %>
<p>
<%= link_to 'Create text object', new_article_url(page: 'contact', purpose:
                                                  gen_id) %>
</p>
<% end %>
