// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index Filter
#blog-index-filter-container {
  padding-left: 24px;
}

li.dropdown-header {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #71B5AD;
}

// Index

#blog-index-new-post {
  margin-bottom: 12px;
}

#blog-index-top-paginate {
  margin-top: -45px;
}

#index-header {
  padding-left: 12px;
}

a.ii-title  {
  font-weight: bold;
  font-size: 150%;
}


#blog-index {
  list-style-type: none;
  padding-left: 0px;
}

#blog-index-author {
  margin-top: -10px;
}

#blog-index-descript {
  font-size: 120%
}


// Show

#blog-show-title {
  // margin-bottom: 20px;
  color: $brand-primary;
  font-weight: bold;
}

#blog-show-descript {
  font-size: 120%
}

#blog-show-author {
  margin-top: 24px;
  // margin-bottom: -8px;
}

#blog-body {
  font-family: "Arial";
  font-size: 130%;
  line-height: 20px;
}

#blog-show-comment-header {
  margin-top: 24px;
  color: $brand-primary;
  font-weight: bold;
}

ul.comments {
  li {
    margin-left: -28px;
  }
}

// New

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

// For javascript show toggle
.show {display:block;}
