// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.dropdown-header {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #71B5AD;
}

a.ii-title  {
  font-weight: bold;
  font-size: 150%;
}
