<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6" id="footerLeft">
        <nav>
          <ul>
            <li><%= link_to "News", '#' %></li>
            <li><%= link_to "Recent Posts", "#" %></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-6" id="footerRight">
        <nav>
          <ul>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "About",   about_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
